h1,
h2,
h3,
h4,
h5,
ul,
p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: rgb(245, 241, 241);
}

h3 {
    margin-right: 5px;
}

.country_div {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.country_img {
    margin-right: 20px;
}

.country_list {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

span {
    font-size: 16;

}